@import '../vendor/variables';

// groups section

.groups-section {
  padding-top: 125px;
  overflow: hidden;
}

.groups {
  display: flex;
}

.groups-description {
  max-width: 266px;
  margin-right: 60px;
}

.groups-description-title {
  max-width: 200px;
}

.groups-description-text {
  margin-top: 30px;
}

// schedule section

.schedule-section {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 171px;
    height: 171px;
    background: $red-ball-color;
    border-radius: 50%;
    top: 20px;
    right: -44px;
    z-index: -1;

    @media screen and (max-width: 560px) {
      display: none;
    }
  }
}

.schedule-cards {
  margin-top: 42px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.schedule-card {
  display: grid;
  transition: 0.3s ease;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  border: 1px solid $card-border-gray-color;
  background: $card-pale-gray-color;
  padding: 44px 30px 44px 36px;
  grid-gap: 40px;

  .red-btn {
    transition: 0.3s ease;
    opacity: 0;
  }

  &:hover {
    transform: scale(1.04);
    box-shadow: $card-shadow;
    background: white;

    .red-btn {
      opacity: 1;
    }
  }
}

.card-title-separator {
  font-size: 36px;
}

.cross {
  background: $card-gray-color;
}

.card-left__top {
  display: flex;
  align-items: baseline;
}

.card-time {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 13px;
}

.card-place {
  font-size: 16px;
}

// reviews section

.reviews-section {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 305px;
    height: 305px;
    background: $red-ball-color;
    border-radius: 50%;
    left: -241px;
    top: 0;
    z-index: -1;

    @media screen and (max-width: 560px) {
      display: none;
    }
  }
}

.reviews, .contacts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 40px;
  position: relative;
}

.reviews {
  .section-text {
    max-width: 435px;
  }

  &:after {
    content: '';
    position: absolute;
    width: 312px;
    height: 253px;
    background: url($imagesPath + 'dots.svg');
    right: -119px;
    bottom: -65px;
    z-index: -1;

    @media screen and (max-width: 560px) {
      display: none;
    }
  }
}

.reviews-title {
  font-weight: 700;
  font-size: 28px;
  max-width: 350px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.account {
  margin-top: 30px;
  cursor: pointer;
  color: black;
}

.account-name {
  font-size: 16px;
  font-weight: 700;
}

.account-description {
  margin-left: 18px;
}

.account-socials {
  color: $gray-color;
  font-size: 14px;
}

.account, .contacts-data__bottom, .account-socials {
  display: flex;
  align-items: center;
}

.account-socials, .contacts-data__bottom {
  justify-content: space-between;
}

// contacts

.contacts {
  position: relative;
}

.contacts-data {
  font-size: 18px;
}

.contacts-address {
  margin-top: 31px;
  margin-bottom: 16px;
}

.contacts-data__bottom {
  max-width: 340px;
}

.contacts-form {
  padding: 70px 50px;
  background: white;
  box-shadow: $form-shadow;
  height: 583px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -70px;
  //min-width: 521px;
  width: 100%;
}

.form-title {
  font-size: 35px;
  text-align: center;
}

.form-input {
  border: none;
  border-bottom: 1px solid $opacity-03-black-color;
  padding: 13px 3px;
  font-size: 14px;
  color: $opacity-06-black-color;

  &::placeholder {
    color: $opacity-06-black-color;
  }
}

// select

select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background: transparent;
}

select {
  flex: 1;
  cursor: pointer;
  padding: 13px 3px;
  color: $opacity-06-black-color;
}

.select {
  position: relative;
  display: flex;
  background: transparent;
  overflow: hidden;

  border-bottom: 1px solid $opacity-03-black-color;
  font-size: 14px;

  &::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 21px;
    border: 1px solid #C4C4C4;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
    height: 8px;
    width: 8px;
    cursor: pointer;
    transition: .25s all ease;
  }
}

.map {
  margin-top: -308px;
  height: 392px;
  background: url($imagesPath + 'map.svg') no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: -1;

  &:before {
    content: '';
    position: absolute;
    height: 108px;
    width: 108px;
    background: url($imagesPath + 'ellipse.svg');
    left: 242px;
    top: 105px;
    z-index: -1;
  }
}

// footer

.footer {
  background: $red-color;
}

.footer-content {
  height: 88px;
  color: white;
}

.copyright {
  font-size: 13px;
}

.footer-content, .socials-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials-list {
  max-width: 200px;
  width: 100%;
}

.socials-link {
  color: white;
  font-size: 22px;
}

// adaptive

@media screen and (max-width: 1420px) {


  // contacts section

  .contacts-form {
    margin-top: 0;
  }

  .map {
    margin-top: -100px;
    height: 300px;

    &:before {
      display: none;
    }
  }
}

@media screen and (max-width: 1230px) {

}

@media screen and (max-width: 1150px) {

}

@media screen and (max-width: 1000px) {

  // groups section

  .groups-section {
    padding-top: 100px;
  }
}

@media screen and (max-width: 875px) {

  // groups section

  .groups-section {
    padding-top: 70px;
  }

  .groups {
    flex-wrap: wrap;
  }

  // contacts section

  .contacts-form {
    padding: 50px 30px;
  }

  // footer

  .socials-list {
    max-width: 140px;
  }

}

@media screen and (max-width: 560px) {

  // schedule section

  .schedule-cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  // reviews section

  .reviews {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  // contacts section

  .contacts {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
  }

  .map {
    display: none;
  }

  // footer

  .footer-content {
    margin-top: 20px;
  }
}

@media screen and (max-width: 460px) {

  // schedule section

  .schedule-cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .schedule-card {
    grid-gap: 10px;
    padding: 32px 15px 28px 15px;
  }

  .card-left__top {
    flex-wrap: wrap;
  }

  // reviews section

  .reviews-title {
    margin-top: 18px;
    margin-bottom: 20px;
    font-size: 22px;
  }

  .reviews {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  // contacts section

  .contacts {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
  }

  .contacts-data {
    font-size: 14px;
  }

  .form-title {
    font-size: 28px;
  }

  // footer

  .footer-content {
    height: 68px;
  }

  .copyright {
    display: none;
  }

  .socials-list {
    max-width: 70%;
    margin: 0 auto;
  }

}
